html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#container {
    width: 100vw;
    height: 100vh;
}

#content-view {
    background-color: green;
}
#editor {
    height: 100%;
    width: 100%;
}