html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    width: 100vw;
    height: 100vh;
}

#left-bar {
    background-color: orange;
    width: 30vw;
}

#content-view {
    background-color: green;
}

#status-bar {
    background-color: purple;
    height: 1em;
    padding: 5px;
}